<footer>
  <div class="footer-wrapper footer-bg-one">
    <div class="container">
      <div class="footer-menu">
        <div class="col-lg-12">
          <div class="menu-wrapper d-flex align-items-center justify-content-between">
            <div class="header-left d-flex align-items-center justify-content-between">
              <!-- Logo-->
              <div class="logo">
                <a href="index.html"><img height="70" src="/assets/logo/Logo.png" alt="logo"></a>
              </div>
            </div>
            <!-- Footer-menu -->
            <div class="main-menu d-none d-lg-block">
              <nav>
                <ul class="listing" id="navigation2">
                  <li class="single-list"><a href="index.html" class="single active">Home</a></li>
                  <li class="single-list"><a href="donation.html" class="single">Donation</a></li>
                  <li class="single-list"><a href="about.html" class="single"><%= t('footer.about_us') %></a></li>
                  <li class="single-list"><a href="contact-us.html" class="single"><%= t('footer.contact_us') %></a></li>
                </ul>
              </nav>
            </div>
            <!-- Right button -->
            <ul class="cart">
              <li class="cart-list"><a href="donate-payment.html" class="donate-btn">Donate</a></li>
            </ul>
          </div>
        </div>
      </div>
      <hr class="footer-line">
      <div class="footer-imp-link row g-4 justify-content-between">
        <div class="col-xl-3 col-lg-6">
          <div class="footer-link">
            <h4 class="title"><%= t('footer.about_us') %></h4>
            <ul class="imp-link">
              <li class="single-list">
                <a class="single" href="https://iqinfotech.in/manidweep/about-us"><%= t('footer.about_us') %></a>
              </li>
              <li class="single-list">
                <a class="single" href="https://iqinfotech.in/manidweep/contact-us"><%= t('footer.contact_us') %></a>
              </li>
              <li class="single-list">
                <a class="single" href="https://iqinfotech.in/manidweep/publications/gyan-ganga-mission"><%= t('footer.publications') %></a>
              </li>
              <li class="single-list">
                <a class="single" href="https://iqinfotech.in/manidweep/activities/basic-infrastructure-facilities"><%= t('footer.basic_infrastructure') %></a>
              </li>
              <li class="single-list">
                <a class="single" href="https://iqinfotech.in/manidweep/awards"><%= t('footer.awards') %></a>
              </li>
              <li class="single-list">
                <a class="single" href="https://iqinfotech.in/manidweep/future-plans"><%= t('footer.future_plans') %></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="footer-link">
            <h4 class="title"><%= t('footer.helpful_links') %></h4>
            <ul class="imp-link">
              <li class="single-list">
                <a class="single" href="https://iqinfotech.in/manidweep/faq"><%= t('footer.faq') %></a>
              </li>
              <li class="single-list">
                <a class="single" href="https://iqinfotech.in/manidweep/gallery"><%= t('footer.photo_gallery') %></a>
              </li>
              <li class="single-list">
                <a class="single" href="https://iqinfotech.in/manidweep/downloads"><%= t('footer.downloads') %></a>
              </li>
              <li class="single-list">
                <a class="single" href="https://iqinfotech.in/manidweep/activities/basic-infrastructure-facilities"><%= t('footer.basic_infrastructure') %></a>
              </li>
              <li class="single-list">
                <a class="single" href="https://iqinfotech.in/manidweep/awards"><%= t('footer.awards') %></a>
              </li>
              <li class="single-list">
                <a class="single" href="https://iqinfotech.in/manidweep/future-plans"><%= t('footer.future_plans') %></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="footer-link">
            <h4 class="title"><%= t('footer.contact_us') %></h4>
            <ul class="imp-link">
              <li class="single-list">
                <div class="d-flex align-items-center gap-10 mb-20">
                  <div class="imp-icon">
                    <i class="ri-mail-fill"></i>
                  </div>
                  <a class="single" href="mailto:<%= @mail_id %>"><%= @mail_id%></a>
                </div>
              </li>
              <li class="single-list">
                <div class="d-flex align-items-center gap-10 mb-20">
                  <div class="imp-icon">
                    <i class="ri-phone-fill"></i>
                  </div>
                  <a class="single" href="tel:<%=@phone_no%>"><%=@phone_no%></a>
                </div>
              </li>
              <li class="single-list">
  <div class="d-flex align-items-center gap-10 mb-20">
    <div class="imp-icon">
      <i class="ri-map-pin-2-fill"></i>
    </div>
    <span>
      <a class="single" href="https://www.google.com/maps/place/Manidweep+Adhyatm+Pariwar+Jodhpur/@26.26849,72.998578,15z/data=!4m6!3m5!1s0x39418d9f79d8840b:0xf7d51fe71701c661!8m2!3d26.2684897!4d72.9985779!16s%2Fg%2F11j2xxlht2?hl=en&entry=ttu">
        <%= t('footer.contact.address') %>
      </a>
    </span>
  </div>
</li>

            </ul>
          </div>
        </div>
      </div>
      <hr class="footer-line">
    </div>
    <!-- footer-bottom area -->
    <div class="footer-bottom-area">
      <div class="container">
        <div class="footer-border">
          <div class="row">
            <div class="col-xl-12">
              <div class="footer-copy-right text-center">
                <p class="pera">Copyright © <%= Time.current.year %> initTheme. All rights reserved.</p>

                <div class="footer-social-link">
                  <ul class="listing">
                    <li class="single-list">
                      <a class="single" href="<%=@facebook%>"><i class="ri-facebook-fill"></i></a>
                    </li>
                    <li class="single-list">
                      <a class="single" href="<%=@instagram%>"><i class="ri-instagram-line"></i></a>
                    </li>
                    <li class="single-list">
                      <a class="single" href="<%=@twitter%>"><i class="ri-twitter-fill"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
