<div class="header-top">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 d-none d-lg-block">
                  <div class="top-menu">
                    <div class="contact-info">
                      <a href="javascript:void(0)" class="pera"> Call Us <%=@phone_no%><span class="pl-20 pr-20">/</span><%=@mail_id%></a>
                    </div>
                   <div class="header-social-link">
                   <ul class="listing">
                        <li class="single-list">
                          <a href="<%=@facebook%>" class="single"><i class="ri-facebook-fill"></i></a>
                        </li>
                        <li class="single-list">
                          <a href="<%=@instagram%>" class="single"><i class="ri-instagram-line"></i></a>
                        </li>
                        <li class="single-list">
                          <a href="<%=@twitter%>" class="single"><i class="ri-twitter-fill"></i></a>
                        </li>
                        <li class="single-list">
                        <%= link_to t('change_language'), url_for(locale: I18n.locale == :en ? :hi : :en), class: "single" %>
                        </li>
                        </ul>
                      
                    </div>
                    
                  </div>
                  <hr>
                </div>
              </div>
            </div>
          </div>