<!-- Bottom Header -->
<div class="header-bottom header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="menu-wrapper d-flex align-items-center justify-content-between">
          
         <div class="header-left d-flex align-items-center justify-content-between">
            <div class="logo logo-small light-logo">
              <a href="index.html"><img width="100" src="/assets/logo/Logo.png" alt="Charitfix Logo"></a>
            </div>
            <div class="logo logo-mobile light-logo">
              <a href="index.html"><img src="/assets/icon/favicon.png" alt="Favicon"></a>
            </div>
          </div>
          <div class="main-menu d-none d-lg-block">
            <nav aria-label="Main navigation">
              <ul class="listing" id="navigation">
      <%
=begin%>
 <li class="single-list">
        <a href="index.html" class="single"><%= t('home') %></a>
      </li> 
<%
=end%>
      <li class="single-list">
        <a href="about.html" class="single"><%= t('about') %></a>
      </li>
      <li class="single-list">
        <a href="javascript:void(0)" class="single"><%= t('torch.title') %> <i class="ri-arrow-down-s-line"></i></a>
        <ul class="submenu">
          <li class="single-list"><a href="torch-item1.html" class="single"><%= t('torch.item1') %></a></li>
          <li class="single-list"><a href="torch-item2.html" class="single"><%= t('torch.item2') %></a></li>
          <li class="single-list"><a href="torch-item3.html" class="single"><%= t('torch.item3') %></a></li>
        </ul>
      </li>
      <li class="single-list">
        <a href="javascript:void(0)" class="single"><%= t('divine.title') %> <i class="ri-arrow-down-s-line"></i></a>
        <ul class="submenu">
          <li class="single-list"><a href="divine-item1.html" class="single"><%= t('divine.item1') %></a></li>
          <li class="single-list"><a href="divine-item2.html" class="single"><%= t('divine.item2') %></a></li>
          <li class="single-list"><a href="divine-item3.html" class="single"><%= t('divine.item3') %></a></li>
        </ul>
      </li>
      <li class="single-list">
        <a href="javascript:void(0)" class="single"><%= t('trust.title') %> <i class="ri-arrow-down-s-line"></i></a>
        <ul class="submenu">
          <li class="single-list"><a href="trust-item1.html" class="single"><%= t('trust.item1') %></a></li>
          <li class="single-list"><a href="trust-item2.html" class="single"><%= t('trust.item2') %></a></li>
          <li class="single-list"><a href="trust-item3.html" class="single"><%= t('trust.item3') %></a></li>
        </ul>
      </li>
      <li class="single-list">
        <a href="javascript:void(0)" class="single"><%= t('activities.title') %> <i class="ri-arrow-down-s-line"></i></a>
        <ul class="submenu">
          <li class="single-list"><a href="activity-item1.html" class="single"><%= t('activities.item1') %></a></li>
          <li class="single-list"><a href="activity-item2.html" class="single"><%= t('activities.item2') %></a></li>
          <li class="single-list"><a href="activity-item3.html" class="single"><%= t('activities.item3') %></a></li>
          <li class="single-list"><a href="activity-item4.html" class="single"><%= t('activities.item4') %></a></li>
          <li class="single-list"><a href="activity-item5.html" class="single"><%= t('activities.item5') %></a></li>
          <li class="single-list"><a href="activity-item6.html" class="single"><%= t('activities.item6') %></a></li>
          <li class="single-list"><a href="activity-item7.html" class="single"><%= t('activities.item7') %></a></li>
        </ul>
      </li>
      <li class="single-list">
        <a href="javascript:void(0)" class="single"><%= t('media.title') %> <i class="ri-arrow-down-s-line"></i></a>
        <ul class="submenu">
          <li class="single-list"><a href="media-item1.html" class="single"><%= t('media.item1') %></a></li>
          <li class="single-list"><a href="media-item2.html" class="single"><%= t('media.item2') %></a></li>
          <li class="single-list"><a href="media-item3.html" class="single"><%= t('media.item3') %></a></li>
        </ul>
      </li>
      <li class="single-list">
        <a href="awards.html" class="single"><%= t('awards') %></a>
      </li>
      <%
=begin%>
 <%
=begin%>
 <li class="single-list">
        <a href="contact-us.html" class="single"><%= t('contact') %></a>
      </li> 
<%
=end%> 


               
              </ul>
            </nav>
          </div>
          <%
=begin%>
 <div class="header-right d-flex align-items-center">
            <ul class="cart">
              <li class="cart-list d-lg-inline-block">
                <a href="donation.html" class="btn-primary-fill text-uppercase">
                  <span class="pera">Donation</span>
                </a>
              </li>
            </ul>
          </div> 
<%
=end%>
        </div>
        <div class="div">
          <div class="mobile_menu d-block d-lg-none"></div>
        </div>
      </div>
    </div>
  </div>
</div>
