<div id="<%= dom_id super_category %>">
  <p>
    <strong>User:</strong>
    <%= super_category.user_id %>
  </p>

  <p>
    <strong>Name en:</strong>
    <%= super_category.name_en %>
  </p>

  <p>
    <strong>Name hi:</strong>
    <%= super_category.name_hi %>
  </p>

  <p>
    <strong>Details en:</strong>
    <%= super_category.details_en %>
  </p>

  <p>
    <strong>Details hi:</strong>
    <%= super_category.details_hi %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= super_category.slug %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= super_category.status %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= super_category.order %>
  </p>

</div>
